<h1>Listing trips</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |participation| %>
      <% trip = participation.trip %>
      <tr>
        <td><%= trip.name %></td>
        <td><%= trip.description %></td>
        <td><%= trip.location %></td>
        <td><%= trip.start_date %></td>
        <td><%= trip.end_date %></td>
        <td><%= trip.creator_id %></td>
        <td><%= link_to 'Activities', trip_activities_path(trip) %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% if participation.confirmed == false %>
        <tr>
          <td colspan="9">You are not confirmed on the above trip. If you're going, click <a href="#">here</a> to confirm. If you're not, click <a href="#">here</a> to take yourself off.
          <td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Trip', new_trip_path %>
<br>
<div id="calendar" style="width:400px;"></div>

