<div class="container" id="my-trips">
<% if @confirmed_trip_partcipations.length > 0 %>
<div id="trips_head"><h2>My Trips</h2></div>
<p><div id="new_trip" class="pure-button pure-button-active"><%= link_to 'New Trip', new_trip_path, remote:true %></div><br /></p>

<div id="trips_display">
  <% @confirmed_trip_partcipations.each do |participation| %>
      <div id="trip_name"><h1 class="content-subhead"><%= link_to participation.trip.name, participation.trip %></h1></div>
      <h2><%= link_to participation.trip.description, participation.trip %></h2>
      <h2><%= participation.trip.location %></h2>
      <h2><%= participation.trip.start_date.strftime("%m/%d/%Y") %></h2>
      <br>
  <% end %>
  <% end %>
</div>


<% if @pending_trip_partcipations.length > 0 %>
<h2>Unconfirmed Trips</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Creator</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @pending_trip_partcipations.each do |participation| %>
        <% trip = participation.trip %>
        <tr>
          <td><%= participation.trip.name %></td>
          <td><%= participation.trip.description %></td>
          <td><%= participation.trip.location %></td>
          <td><%= participation.trip.start_date %></td>
          <td><%= participation.trip.end_date %></td>
          <td><%= participation.trip.creator_id %></td>
          <td>
            <form method="post" action="/trip_participations/<%=participation.id%>">
              <input name="_method" type="hidden" value="put" />
              <input type="hidden" name="trip_participation[confirmed]" value="true" >
              <input type="submit" value="going">
            </form>
          </td>
          <td><%= button_to 'Remove', "/trip_participations/#{participation.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<div class="pure-table pure-table-bordered" id="trips_calendar"></div>
</div>
