   <div id="main">
      <div class="pure-button pure-button-active"><%= link_to 'Edit ', edit_trip_path %></div>
      <div class="pure-button pure-button-active"><%= link_to 'Delete', @trip, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <div class="header">
            <h1><%= @trip.name %></h1>
             <h2><%= @trip.start_date.strftime("%m/%d/%Y") %> - <%= @trip.end_date.strftime("%m/%d/%Y") %></h2>        
          </div> <!-- / .header -->

           <div class="content">
                    <!-- Where -->
                    <h2 class="content-subhead">Where: <%= @trip.location %></h2>

                    <div class="pure-g">
                        <div class="pure-u-1-4">
                            <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
                        </div>
                        <div class="pure-u-1-4">
                            <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
                        </div>
                        <div class="pure-u-1-4">
                            <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
                        </div>
                        <div class="pure-u-1-4">
                            <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
                        </div>
                    </div><!-- / Where -->

            <!-- begin GRID
             -->
            <div class="marketing l-wrap pure-g">
             <!-- COL ONE -->
                <div class="content pure-u-1 u-sm-1-2 u-xl-1-3">
                    <h3 class="marketing-header">Map</h3>
                        <div id="map_information" class="trip_show_details">
                            <%= render 'map' %>
                        </div>
                </div>

            <!-- COL TWO -->
                <div class="content pure-u-1 u-sm-1-2 u-xl-1-3">
                    <h3 class="marketing-header">Description</h3>
                      <p>
                          <%= @trip.description %>
                      </p>
                </div>

            <!-- COL THREE -->
                <div class="content pure-u-1 u-lg-3-4 u-xl-1-3">
                    <h3 class="marketing-header">Who's going</h3>
                                 <!-- Who -->
                      <ul>
                          <% @trip.trip_participations.each do |trip_participation| %>
                              <li><%= trip_participation.traveler.first_name %> <%= trip_participation.traveler.last_name %>
                          <% if trip_participation.confirmed == false %>
                               (invitation pending)
                          <% end %>
                          </li>
                          <% end %>
                      </ul>
                      <%# ALB note: I want to do this properly %>
                      <p>Invite someone!</p>
                      <form method="post" action="/trips/:id/invite" class="pure-form pure-form-stacked">
                          <input type="text" name="invitee_email">
                          <input type="submit" class="pure-button"  value="Send Invite">
                          <input type="hidden" name="trip_invited_to" value="<%= @trip.id %>">
                      </form><!-- / Who -->
                </div>
            </div> <!-- / .marketing -->
            <!-- end GRID
             -->        

                    <!-- Expenses -->
                    <h2 class="content-subhead">Expenses</h2>
                      <%= render 'expenses/expense_list' %>
                    <!-- / Expenses -->

                   <!-- Activities -->
                    <h2 class="content-subhead">Activities</h2>
                        <div>
                          <%= render 'activities/activity_list' %>
                        </div>
                    <!-- / Activities -->

        </div> <!-- / .content -->
    </div>
</div> <!-- / .layout (opening tag is in trip_dashboard.html.erb) -->

<script type="text/javascript">
  // window.map_marker = <%=raw @hash.to_json %>
</script>
<script type="text/javascript">
  window.tripLat = <%= @trip.latitude %>
  window.tripLng = <%= @trip.longitude %>
  window.activityMarker = <%=raw @activities_hash.to_json %>
  window.tripMarker = <%=raw @trip_hash.to_json %>
  window.trip_id = <%= @trip.id %>
</script>
