

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>


<p>
  <strong>Location:</strong>
  <%= @trip.location %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @trip.end_date %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @trip.creator_id %>
</p>

<p><strong>Travelers:</strong></p>
<ul>
  <% @trip.trip_participations.each do |trip_participation| %>
  <li><%= trip_participation.traveler.first_name %> <%= trip_participation.traveler.last_name %>
  <% if trip_participation.confirmed == false %>
     (invitation pending)
  <% end %>

  </li>
  <% end %>
</ul>

<%# ALB note: I want to do this properly %>
<p>Invite someone! (one email address at a time)</p>
<form method="post" action="/trips/:id/invite">
  <input type="text" name="invitee_email">
  <input type="submit" value="Send Invitations">
  <input type="hidden" name="trip_invited_to" value="<%= @trip.id %>">
</form><br>

<%= link_to 'See All Activities', trip_activities_path(@trip.id) %> |
<%= link_to 'Add a New Activity!', new_trip_activity_path(@trip.id) %> |
<%= link_to 'Back', trips_path %> |
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Delete', @trip, method: :delete, data: { confirm: 'Are you sure?' } %>


<div style="width:400px;" id='calendar'></div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<script type="text/javascript">
$(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
  });
</script>
