<p id="notice"><%= notice %></p>

<div class="trip_information">
  <h2>Trip Information</h2>
  <%= render 'trip_information' %>
</div>

<div class="calendar">
  <h2>Calendar</h2>
  <div style='width:400px;' id="calendar"></div>
</div>

<div class="expense_list">
  <h2>Expenses</h2>
  <%= render 'expenses/expense_list' %>
</div>

<div class="map_information">
  <h2>Map</h2>
  <%= render 'map' %>
</div>

<div class="activity_information">
  <h2>Activities</h2>
  <%= render 'activities/activity_list' %>
</div>

<div class="poll_list">
  <h2>Polls</h2>
  <%= render 'polls/poll_list' %>
</div>

<script type="text/javascript">
  window.map_marker = <%=raw @hash.to_json %>
  window.trip_id = <%= @trip.id %>
</script>
