    <div class="navbar navbar-static-top">
        <div class="container">
                    <a class="navbar-brand" href="#"><%= link_to 'Planit', root_path, :html => {} %><%#= image_tag "currynation.png"%></a>


	                 <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav pull-right">

                                  <% if user_signed_in? %>
                                        <span><%= link_to 'My Trips', trips_path %></span>
                                        <span><%= link_to 'My Profile', edit_user_registration_path %></span>
                                        <span id="signout"><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></span>
                                  <% else %>
                                        <span id="login"><%= link_to 'Log in', new_user_session_path %></span>
                                        <span id="sign_up"><%= link_to 'Sign up', new_user_registration_path %></span>
                                  <% end %>
                              </ul> <!-- / .pull-right -->
                      </ul> <!-- / .nav navbar-nav -->


  </div> <!-- / .container   -->
</div> <!-- / . navbar -->
