<%= form_for [@trip, @poll] do |f| %>

<div class= "field">
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
</div>

    <%= f.fields_for :options do |builder| %>
      <%= render 'option_fields', f: builder %>
    <% end %>

    <%= link_to_add_options "Add Option", f, :options   %>

<div class= "actions">
  <%= f.submit %>
</div>
<% end %>
