<h1><%= @poll.name %></h1>

<ol>
<% @options.each do |option| %>
	<li>
		<%= option.name %>
		<form method="post" action="<%= option.poll_id %>/upvote">
	  		<input type="submit" value="Up Vote">
	  		<input type="hidden" name="option_id" value="<%= option.id %>">
		</form>
		<form method="post" action="<%= option.poll_id %>/downvote">
	  		<input type="submit" value="Down Vote">
	  		<input type="hidden" name="option_id" value="<%= option.id %>">
		</form>
		Upvotes: <%= option.votes_for.up.size %>
		Downvotes: <%= option.votes_for.down.size %>
	</li>
<% end %>
</ol>

<%= link_to("Done", trip_polls_path) %>
