<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @activity.location %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @activity.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @activity.end_time %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @activity.trip_id %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @activity.creator_id %>
</p>

<%= link_to 'Back', trip_activities_path(@trip.id) %> |
<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Delete', @activity, method: :delete, data: { confirm: 'Are you sure?' } %>
