<table id="expense_list" class="pure-table pure-table-horizontal">
	<thead>
		<th>Expense</th>
		<th>Date</th>
		<th>Cost</th>
		<% @trip.splitters.each do |splitter| %>
			<th><%= splitter.traveler.first_name %></th>
		<% end %>
		<th>View details</th>
		<th>Edit</th>
	</thead>

	<tbody>
		<div class="expense_row">
		<% @trip.expenses.each do |expense| %>
		<tr>
			<td><%= expense.name %></td>
			<td><%= expense.date %></td>
			<td><%= expense.cost_display %></td>
			<% expense.splitters.each do |splitter| %>
				<td>
					<table>
						<% if splitter.find_charge_by_expense(expense) %>
							<tr class="charge_details"><td class="charge_debt"><%= splitter.find_charge_by_expense(expense).debt_display %></tr></td>
							<tr class="charge_details"><td class="charge_payment"><%= splitter.find_charge_by_expense(expense).payment_display %></tr></td>
							<tr><td class="charge_account"><%= splitter.find_charge_by_expense(expense).account_display %></tr></td>
						<% end %>
					</table>
			<% end %>
			<td><a href="">View details</a></td>
			<td><%= link_to 'Edit', edit_trip_expense_path(@trip, expense) %></td>
		</tr>
		<% end %>
		</div>
		<div class="total_row">
			<td></td>
			<td></td>
			<td><%= @trip.cost_display %></td>
			<% @trip.splitters.each do |splitter| %>
				<td> <%= splitter.trip_account_display %></td>
			<% end %>
			<td><a id="view_all_details" href="#">View all details</a><a id="hide_all_details" href="#">Hide all details</a></td>
			<td></td>
		</tr>
		</div>
	</tbody>
</table>

<%= link_to 'Add an expense', new_trip_expense_path(@trip) %>