<!DOCTYPE html>
<html>
<head>
  <title>Planit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
	<script src='lib/jquery.min.js'></script>
	<script src='lib/moment.min.js'></script>
	<script src='fullcalendar/fullcalendar.js'></script>
</head>
<body>
	<div class="nav">
		<a href="/"><h1>planit</h1></a>
		<span id="tagline">Planning trips better... with science.</span>
		<p><a href="/users/"></a></p>
		<p><% if user_signed_in? %>
				<span id="login"><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></span>
			<% else %>
				<span id="login"><%= link_to('Sign in', new_user_session_path) %></span>
			<% end %>
		</p>
	</div>

	<div class="main">
	<%= yield %>
	<div class="devise_flash_messages">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
	</div>
	</div>
</body>
</html>
