<!DOCTYPE html>
<html>
<head>
  <title>Planit | Welcome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
</head>

<body id="welcome">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
        <h3 class="masthead-brand"><%= link_to "Planit", root_path %></h3>
            <% if user_signed_in? %>
              <span id="login"><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></span>
              <h3><%= link_to "MY TRIPS", trips_path %></h3></span>
            <% else %>
              <div class="inner cover">
                <h1 class="cover-heading">She used Planit to organize her yearly family reunion</h1>
                <p class="lead tagline">Planning trips better... with science.</p>
                <p class="lead"><div class="btn btn-lg btn-default"><%= link_to 'Sign up', new_user_registration_path %></a></div></p>
                <div id="login">
                  <p>Already have an account? <div class="btn btn-default"><%= link_to 'Log In', new_user_session_path %></div></p>
                </div>

              <p id="team-planit">Team Planit: Annie, Ariel, Dusty, Fabi &amp; Jaimin</p>
            </div> <!-- / inner cover -->
          <% end %>
      </div> <!-- / masthead clearfix -->
    </div> <!-- / site-wrapper-inner -->
  </div> <!-- / site-wrapper -->
</body>
</html>
